<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated universityStudies -->
      <package
            uri="http://www.example.org/universityStudies"
            class="universityStudies.UniversityStudiesPackage"
            genModel="model/universityStudies.genmodel"/>
   </extension>

</plugin>
